@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/Roboto-Light.ttf");
}
@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Roboto-Regular.ttf");
}
@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Roboto-Medium.ttf");
}
body {
  margin: 0px;
  font: 14px Roboto, Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
